OPENAI_MODEL=gpt-4
OPENAI_API_KEY="Replace it with gpt api key"

# ElevenlabsAPI
ELEVEN_LABS_API_KEY="Replace it with elevenlabs api key"

ELEVEN_LABS_VOICE_ID="Replace it with elevenlabs voice ID"
ELEVEN_LABS_MODEL_ID=eleven_multilingual_v1